.jumbotron {
    background-color: transparent !important;
}

.grey {
    background-color: #F6F6F6;
}

.aboutPhoto {
    height: 350px;
}

.introParagraph {
    font-size: 16px
}


/* .contactLogos {
    padding-top: 10px
} */

.contactTitle {
    padding-bottom: 20px
}

section {
    margin-top: 25px;
}


/* a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none !important;
} */

#map {
    height: 300px;
    width: 100%;
    border: black solid 1px;
}

#javascript {
    background-image: url('assets/images/skills/Javascript.png');
    width: 200px;
    height: 200px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#nodejs {
    background-image: url('assets/images/skills/Nodejs.png');
    width: 200px;
    height: 226px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#react {
    background-image: url('assets/images/skills/React.png');
    width: 200px;
    height: 180px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#handlebars {
    background-image: url('assets/images/skills/Handlebars.png');
    width: 200px;
    height: 48px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#bootstrap {
    background-image: url('assets/images/skills/Bootstrap.png');
    width: 200px;
    height: 200px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#mongodb {
    background-image: url('assets/images/skills/Mongodb.png');
    width: 200px;
    height: 57px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#mysql {
    background-image: url('assets/images/skills/Mysql.png');
    width: 200px;
    height: 103px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#firebase {
    background-image: url('assets/images/skills/Firebase.png');
    width: 200px;
    height: 225px;
    margin-right: auto;
    margin-left: auto;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.grid-item {
    width: 200px;
}

i {
    font-size: 200px
}

body {
    position: relative;
}

.handlebarsDIV {
    height: 200px;
}

#handlebars {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}


.logoRow2 {
    padding-top: 30px;
}