.jumbotron {
    background-color: transparent !important;
}

.grey {
    background-color: #F6F6F6;
}

.aboutPhoto {
    height: 350px;
}

.introParagraph {
    font-size: 16px
}

.contactTitle {
    padding-bottom: 20px
}

section {
    margin-top: 25px;
}

#map {
    height: 300px;
    width: 100%;
    border: black solid 1px;
}

.grid-item {
    width: 200px;
}

.fa {
    font-size: 35px
}

body {
    position: relative;
}

#skills {
    padding-bottom: 40px;
}

.handlebarsDIV {
    height: 200px;
}

#handlebars {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

.logoRow2 {
    padding-top: 30px;
}

.logoRow3 {
    padding-top: 30px;
}

.logoRow4 {
    padding-top: 30px;
}

.descriptionDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.scrollReveal:hover .descriptionDiv {
    visibility: visible;
    opacity: 1;
}

.description {
    transition: .2s;
    transform: translateY(1em);
}

.scrollReveal:hover .description {
    transform: translateY(0);
}

a,
a:visited {
    color: white;
}

.contactLink,
.contactLink:visited {
    color: black;
}

.portfolioItem {
    border: black 1px solid;
}

.portfolioRow2 {
    padding-top: 10px;
}

.comingSoon {
    border: black 1px solid;
}