@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');
.jumbotron {
    background-color: transparent !important;
}

.grey {
    background-color: #F6F6F6;
}

.aboutPhoto {
    height: 350px;
}

.introParagraph {
    font-size: 18px
}

section {
    margin-top: 25px;
}

#map {
    height: 300px;
    width: 100%;
    border: black solid 1px;
}

.fa {
    font-size: 35px;
    color: black;
}

.fa-external-link{
   font-size: 32px;
}

body {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

#skills {
    padding-top: 10px;
    padding-bottom: 40px;
}

.logoRow2 {
    padding-top: 30px;
}

.logoRow3 {
    padding-top: 30px;
}

.logoRow4 {
    padding-top: 30px;
}


/* mouse over show div start */

.descriptionDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.scrollReveal:hover .descriptionDiv {
    visibility: visible;
    opacity: 1;
}

.description {
    transition: .2s;
    transform: translateY(1em);
}

.scrollReveal:hover .description {
    transform: translateY(0);
}


/* mouse over show div end */

a,
a:link,
a:visited {
    color: black;
}

.logoLink {
    font-size: 30px;
}

.portfolioItem {
    border: black 1px solid;
}

.portfolioLink {
    padding-left: 25px;
    padding-right: 25px;
}

.contactTitle {
    padding-bottom: 20px;
}

.contactSection {
    padding-top: 30px;
    padding-bottom: 40px;
}

#portfolio {
    padding-top: 20px;
    padding-bottom: 40px;
}

#home {
    padding-top: 40px;
}

.bottomLink {
    padding-bottom: 60px;
}

.fa-linkedin-square {
    padding-top: 80px;
    padding-bottom: 20px;
}

.footerLink {
    padding: 10px;
    display: inline-block;
}


/* Glow Start */

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


/* Glow End */


/* github and live link padding */

.descriptionDiv a {
    padding: 10px;
}

.appItem {
    margin-top: 20px;
}